/* html {
	background: #2980b9;
	background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
	background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
	min-width: 400px;
	text-align: center;
} */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.generatePassword{
	background-color: black;
	color: white;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
}

.password{
	margin: 20px;
}